  <%- body %>
  <!DOCTYPE html>
  <html lang="fa" dir="rtl" data-menu-size="sm-hover">

  <head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/fontiran.min.css">
    <script src="js/config.js"></script>

  </head>

  <body>
    <div class="wrapper">
      <header class="topbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="d-flex align-items-center">
              <!-- ุฏฺฉูู toggle ููู -->
              <div class="topbar-item">
                <button type="button" class="button-toggle-menu me-2">
                  <iconify-icon icon="solar:hamburger-menu-broken" class="fs-24 align-middle"></iconify-icon>
                </button>
              </div>

              <!-- ุนููุงู ุตูุญู -->
              <div class="topbar-item">
                <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0">ุตูุญู ุดุฑูุน</h4>
              </div>
            </div>

            <div class="d-flex align-items-center gap-1">

              <!-- ุชู ุฑูฺฏ (ุฑูุดู/ุชุงุฑฺฉ) -->
              <div class="topbar-item">
                <button type="button" class="topbar-button" id="light-dark-mode">
                  <iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                </button>
              </div>

              <!-- ุงุนูุงูโูุง -->
              <div class="dropdown topbar-item">
                <button type="button" class="topbar-button position-relative" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <iconify-icon icon="solar:bell-bing-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                  <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill">3<span class="visually-hidden">ูพุงูโูุง ุฎูุงูุฏู ูุดุฏู</span></span>
                </button>
                <div class="dropdown-menu py-0 dropdown-lg dropdown-menu-end" aria-labelledby="page-header-notifications-dropdown">
                  <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="m-0 fs-16 fw-semibold"> ุงุนูุงูโูุง</h6>
                      </div>
                      <div class="col-auto">
                        <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                          <small>ูพุงฺฉ ฺฉุฑุฏู ููู</small>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div data-simplebar style="max-height: 280px;">
                    <!-- ุขุชู -->
                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom text-wrap">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <img src="/images/users/avatar-1.jpg" class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-1" />
                        </div>
                        <div class="flex-grow-1">
                          <p class="mb-0"><span class="fw-medium">ุฌูุฒูู ุชุงููพุณูู </span>ุฏุฑ ููุฑุฏ ูพูู ูุฏุฑ ูุธุฑ ุฏุงุฏู
                            <span>" ูุง ๐! ุงู ูพูู ูุฏุฑ ุนุงู ู ุทุฑุงุญ ุฌุฐุงุจ ุงุณุช"</span>
                          </p>
                        </div>
                      </div>
                    </a>
                    <!-- ุขุชู -->
                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar-sm me-2">
                            <span class="avatar-title bg-soft-info text-info fs-20 rounded-circle">
                              D
                            </span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <p class="mb-0 fw-semibold">ุฏูููฺฏู ุณูุฒุงู</p>
                          <p class="mb-0 text-wrap">
                            ุณูุงูุ ุญุงู ุดูุง ฺุทูุฑ ุงุณุชุ ุฌูุณู ุจุนุฏ ูุง ฺุ
                          </p>
                        </div>
                      </div>
                    </a>
                    <!-- ุขุชู -->
                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <img src="/images/users/avatar-3.jpg" class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-3" />
                        </div>
                        <div class="flex-grow-1">
                          <p class="mb-0 fw-semibold">ุฌฺฉูุจ ฺฏูุณ</p>
                          <p class="mb-0 text-wrap">ูพุงุณุฎ ุฏุงุฏ ุจู ฺฉุงููุช ุดูุง ุฏุฑ ฺฏุฑุงู ูพุดโุจู ุฌุฑุงู ููุฏ ๐.</p>
                        </div>
                      </div>
                    </a>
                    <!-- ุขุชู -->
                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar-sm me-2">
                            <span class="avatar-title bg-soft-warning text-warning fs-20 rounded-circle">
                              <iconify-icon icon="iconamoon:comment-dots-duotone"></iconify-icon>
                            </span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <p class="mb-0 fw-semibold text-wrap">ุดูุง <b>20</b> ูพุงู ุฌุฏุฏ ุฏุฑ ูฺฉุงููู ุฏุฑุงูุช ฺฉุฑุฏูโุงุฏ</p>
                        </div>
                      </div>
                    </a>
                    <!-- ุขุชู -->
                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <img src="/images/users/avatar-5.jpg" class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-5" />
                        </div>
                        <div class="flex-grow-1">
                          <p class="mb-0 fw-semibold">ุดุงู ุจูฺ</p>
                          <p class="mb-0 text-wrap">
                            ูุธุฑ ุฏุงุฏู ุฏุฑ ูพูู ูุฏุฑ
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="text-center py-3">
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm">ูุดุงูุฏู ุชูุงู ุงุนูุงูโูุง <i class="bx bx-left-arrow-alt ms-1"></i></a>
                  </div>
                </div>
              </div>

              <!-- ุชูุธูุงุช ุชู -->
              <div class="topbar-item d-none d-md-flex">
                <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                  <iconify-icon icon="solar:settings-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                </button>
              </div>

              <!-- ูุนุงูุช -->
              <div class="topbar-item d-none d-md-flex">
                <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas" data-bs-target="#theme-activity-offcanvas" aria-controls="theme-settings-offcanvas">
                  <iconify-icon icon="solar:clock-circle-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                </button>
              </div>

              <!-- ฺฉุงุฑุจุฑ -->
              <div class="dropdown topbar-item">
                <a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="d-flex align-items-center">
                    <img class="rounded-circle" width="32" src="/images/users/avatar-1.jpg" alt="avatar-3">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <!-- ุขุชู-->
                  <h6 class="dropdown-header">ุจู ฺฏุงุณุชูู ุฎูุด ุขูุฏุฏ!</h6>
                  <a class="dropdown-item" href="pages-profile.html">
                    <i class="bx bx-user-circle text-muted fs-18 align-middle me-1"></i><span class="align-middle">ูพุฑููุงู</span>
                  </a>
                  <a class="dropdown-item" href="chat.html">
                    <i class="bx bx-message-dots text-muted fs-18 align-middle me-1"></i><span class="align-middle">ูพุงูโูุง</span>
                  </a>

                  <a class="dropdown-item" href="pricing.html">
                    <i class="bx bx-wallet text-muted fs-18 align-middle me-1"></i><span class="align-middle">ููุชโฺฏุฐุงุฑ</span>
                  </a>
                  <a class="dropdown-item" href="faqs.html">
                    <i class="bx bx-help-circle text-muted fs-18 align-middle me-1"></i><span class="align-middle">ุฑุงูููุง</span>
                  </a>
                  <a class="dropdown-item" href="lock-screen.html">
                    <i class="bx bx-lock text-muted fs-18 align-middle me-1"></i><span class="align-middle">ููู ุตูุญู</span>
                  </a>

                  <div class="dropdown-divider my-1"></div>

                  <a class="dropdown-item text-danger" href="login.html">
                    <i class="bx bx-log-out fs-18 align-middle me-1"></i><span class="align-middle">ุฎุฑูุฌ</span>
                  </a>
                </div>
              </div>

              <!-- ุฌุณุชุฌู ุงูพ -->
              <form class="app-search d-none d-md-block ms-2">
                <div class="position-relative">
                  <input type="search" class="form-control" placeholder="ุฌุณุชุฌู..." autocomplete="off" value="">
                  <iconify-icon icon="solar:magnifer-linear" class="search-widget-icon"></iconify-icon>
                </div>
              </form>
            </div>
          </div>

        </div>
      </header>

      <!-- Activity Timeline -->
      <div>
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-activity-offcanvas" style="max-width: 450px; width: 100%;">
          <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
            <h5 class="text-white m-0 fw-semibold">ุฌุฑุงู ูุนุงูุช</h5>
            <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" aria-label="ุจุณุชู"></button>
          </div>

          <div class="offcanvas-body p-0">
            <div data-simplebar class="h-100 p-4">
              <div class="position-relative ms-2">
                <span class="position-absolute start-0  top-0 border border-dashed h-100"></span>
                <div class="position-relative ps-4">
                  <div class="mb-4">
                    <span class="position-absolute start-0 avatar-sm translate-middle-x bg-danger d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20">
                      <iconify-icon icon="iconamoon:folder-check-duotone"></iconify-icon>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-1 text-dark fw-semibold fs-15 lh-base">ฺฏุฒุงุฑุด-ุงุตูุงุญ / ุจูโุฑูุฒุฑุณุงู</h5>
                      <p class="d-flex align-items-center">ุงูุฒูุฏู 3 ูุงู ุจู <span class=" d-flex align-items-center text-primary ms-1">
                          <iconify-icon icon="iconamoon:file-light"></iconify-icon> ูุธุงู
                        </span></p>
                      <div class="bg-light bg-opacity-50 rounded-2 p-2">
                        <div class="row">
                          <div class="col-lg-6 border-end border-light">
                            <div class="d-flex align-items-center gap-2">
                              <i class="bx bxl-figma fs-20 text-red"></i>
                              <a href="#!" class="text-dark fw-medium">Concept.fig</a>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="d-flex align-items-center gap-2">
                              <i class="bx bxl-file-doc fs-20 text-success"></i>
                              <a href="#!" class="text-dark fw-medium">larkon.docs</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h6 class="mt-2 text-muted">ุฏูุดูุจูุ ุณุงุนุช ด:ฒด ุนุตุฑ</h6>
                    </div>
                  </div>
                </div>
                <div class="position-relative ps-4">
                  <div class="mb-4">
                    <span class="position-absolute start-0 avatar-sm translate-middle-x bg-success d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20">
                      <iconify-icon icon="iconamoon:check-circle-1-duotone"></iconify-icon>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-1 text-dark fw-semibold fs-15 lh-base">ูุถุนุช ูพุฑูฺู</h5>
                      <p class="d-flex align-items-center mb-0">ุนูุงูุชโฺฏุฐุงุฑ<span class=" d-flex align-items-center text-primary mx-1">
                          <iconify-icon icon="iconamoon:file-light"></iconify-icon> ุทุฑุงุญ
                        </span> ุจู ุนููุงู <span class="badge bg-success-subtle text-success px-2 py-1 ms-1">ุชฺฉููโุดุฏู</span>
                      </p>
                      <div class="d-flex align-items-center gap-3 mt-1 bg-light bg-opacity-50 p-2 rounded-2">
                        <a href="#!" class="fw-medium text-dark">ุทุฑุงุญ UI/UX ูุงฺฏูุง</a>
                        <div class="ms-auto">
                          <a href="#!" class="fw-medium text-primary fs-18" data-bs-toggle="tooltip" data-bs-title="ุฏุงูููุฏ" data-bs-placement="bottom">
                            <iconify-icon icon="iconamoon:cloud-download-duotone"></iconify-icon>
                          </a>
                        </div>
                      </div>
                      <h6 class="mt-3 text-muted">ุฏูุดูุจูุ ุณุงุนุช ณ:ฐฐ ุนุตุฑ</h6>
                    </div>
                  </div>
                </div>
                <div class="position-relative ps-4">
                  <div class="mb-4">
                    <span class="position-absolute start-0 avatar-sm translate-middle-x bg-primary d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-16">UI</span>
                    <div class="ms-2">
                      <h5 class="mb-1 text-dark fw-semibold fs-15">ูุณุฎู ุฌุฏุฏ UI ุงูพูฺฉุดู Larkon v2.0.0 <span class="badge bg-primary-subtle text-primary px-2 py-1 ms-1">ุฌุฏุฏุชุฑู</span>
                      </h5>
                      <p>ุฏุณุชุฑุณ ุจู ุจุด ุงุฒ ฒฐ ุตูุญู ุดุงูู ุทุฑุงุญ ุฏุงุดุจูุฑุฏุ ูููุฏุงุฑูุงุ ุชุงุจูู ฺฉุงูุจุงูุ ุชููู ู ุตูุญุงุช ุงุฒ ูพุดโุณูุงุฑุดโุดุฏู ุจุฑุง E-commerce ู ุจุงุฒุงุฑุงุจ.</p>
                      <div class="mt-2">
                        <a href="#!" class="btn btn-light btn-sm">ุฏุงูููุฏ ูุงู ุฒูพ</a>
                      </div>
                      <h6 class="mt-3 text-muted">ุฏูุดูุจูุ ุณุงุนุช ฒ:ฑฐ ุนุตุฑ</h6>
                    </div>
                  </div>
                </div>
                <div class="position-relative ps-4">
                  <div class="mb-4">
                    <span class="position-absolute start-0 translate-middle-x bg-success bg-gradient d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20"><img src="/images/users/avatar-7.jpg" alt="avatar-5" class="avatar-sm rounded-circle"></span>
                    <div class="ms-2">
                      <h5 class="mb-0 text-dark fw-semibold fs-15 lh-base">ุงูฺฉุณ ุงุณูุชุ ุนฺฉุณโูุง ูพูุณุชโุดุฏู</h5>
                      <div class="row g-2 mt-2">
                        <div class="col-lg-4">
                          <a href="#!">
                            <img src="/images/small/img-6.jpg" alt="" class="img-fluid rounded">
                          </a>
                        </div>
                        <div class="col-lg-4">
                          <a href="#!">
                            <img src="/images/small/img-3.jpg" alt="" class="img-fluid rounded">
                          </a>
                        </div>
                        <div class="col-lg-4">
                          <a href="#!">
                            <img src="/images/small/img-4.jpg" alt="" class="img-fluid rounded">
                          </a>
                        </div>
                      </div>
                      <h6 class="mt-3 text-muted">ุฏูุดูุจูุ ุณุงุนุช ฑ:ฐฐ ุนุตุฑ</h6>
                    </div>
                  </div>
                </div>
                <div class="position-relative ps-4">
                  <div class="mb-4">
                    <span class="position-absolute start-0 translate-middle-x bg-success bg-gradient d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20"><img src="/images/users/avatar-6.jpg" alt="avatar-5" class="avatar-sm rounded-circle"></span>
                    <div class="ms-2">
                      <h5 class="mb-0 text-dark fw-semibold fs-15 lh-base">ุฑุจฺฉุง ุฌ. ฺฉ ุนุถู ุฌุฏุฏ ุจู ุชู ุงุถุงูู ฺฉุฑุฏ</h5>
                      <p class="d-flex align-items-center gap-1">
                        <iconify-icon icon="iconamoon:check-circle-1-duotone" class="text-success"></iconify-icon>
                        ฺฉ ุนุถู ุฌุฏุฏ ุจู ุฏุงุดุจูุฑุฏ ุฌูู ุงุถุงูู ฺฉุฑุฏ
                      </p>
                      <h6 class="mt-3 text-muted">ุฏูุดูุจูุ ุณุงุนุช ฑฐ:ฐฐ ุตุจุญ</h6>
                    </div>
                  </div>
                </div>
                <div class="position-relative ps-4">
                  <div class="mb-4">
                    <span class="position-absolute start-0 avatar-sm translate-middle-x bg-warning d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20">
                      <iconify-icon icon="iconamoon:certificate-badge-duotone"></iconify-icon>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-0 text-dark fw-semibold fs-15 lh-base">ุฏุณุชุงูุฑุฏูุง</h5>
                      <p class="d-flex align-items-center gap-1 mt-1">ุฏุฑุงูุช ฺฉ
                        <iconify-icon icon="iconamoon:certificate-badge-duotone" class="text-danger fs-20"></iconify-icon>
                        "ุฌุงุฒู ุจูุชุฑู ูุญุตูู"
                      </p>
                      <h6 class="mt-3 text-muted">ุฏูุดูุจูุ ุณุงุนุช น:ณฐ ุตุจุญ</h6>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#!" class="btn btn-outline-dark w-100">ูุดุงูุฏู ููู</a>
            </div>
          </div>
        </div>

      </div>

      <div class="main-nav">
        <!-- Sidebar Logo -->
        <div class="logo-box">
          <a href="index.html" class="logo-dark">
            <img src="/images/logo-sm.png" class="logo-sm" alt="logo sm">
            <img src="/images/logo-dark.png" class="logo-lg" alt="logo dark">
          </a>

          <a href="index.html" class="logo-light">
            <img src="/images/logo-sm.png" class="logo-sm" alt="logo sm">
            <img src="/images/logo-light.png" class="logo-lg" alt="logo light">
          </a>
        </div>

        <!-- Menu Toggle Button (sm-hover) -->
        <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
          <iconify-icon icon="solar:double-alt-arrow-left-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
        </button>

        <div class="scrollbar" data-simplebar>
          <ul class="navbar-nav" id="navbar-nav">

            <li class="menu-title">ุนููู</li>

            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฏุงุดุจูุฑุฏ </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarProducts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProducts">
                <span class="nav-icon">
                  <iconify-icon icon="solar:t-shirt-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุญุตููุงุช </span>
              </a>
              <div class="collapse" id="sidebarProducts">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="products-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="products-grid.html">ุดุจฺฉูโุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="products-detail.html">ุฌุฒุฆุงุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="products-edit.html">ูุฑุงุด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="products-create.html">ุงุฌุงุฏ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarCategory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCategory">
                <span class="nav-icon">
                  <iconify-icon icon="solar:clipboard-list-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฏุณุชูโุจูุฏ </span>
              </a>
              <div class="collapse" id="sidebarCategory">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="category-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="category-edit.html">ูุฑุงุด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="category-create.html">ุงุฌุงุฏ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarInventory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInventory">
                <span class="nav-icon">
                  <iconify-icon icon="solar:box-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ููุฌูุฏ </span>
              </a>
              <div class="collapse" id="sidebarInventory">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="inventory-warehouse.html">ุงูุจุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="inventory-received-orders.html">ุณูุงุฑุดุงุช ุฏุฑุงูุชโุดุฏู</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarOrders" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarOrders">
                <span class="nav-icon">
                  <iconify-icon icon="solar:bag-smile-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุณูุงุฑุดุงุช </span>
              </a>
              <div class="collapse" id="sidebarOrders">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="orders-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="orders-details.html">ุฌุฒุฆุงุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="orders-cart.html">ุณุจุฏ ุฎุฑุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="orders-checkout.html">ุชุณููโุญุณุงุจ</a>
                  </li>
                </ul>
              </div>
            </li>


            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarPurchases" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPurchases">
                <span class="nav-icon">
                  <iconify-icon icon="solar:card-send-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฎุฑุฏูุง </span>
              </a>
              <div class="collapse" id="sidebarPurchases">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="purchase-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="purchase-order.html">ุณูุงุฑุด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="purchase-return.html">ุจุงุฒฺฏุดุช</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarAttributes" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAttributes">
                <span class="nav-icon">
                  <iconify-icon icon="solar:confetti-minimalistic-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูฺฺฏโูุง </span>
              </a>
              <div class="collapse" id="sidebarAttributes">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="edit.html">ูุฑุงุด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="create.html">ุงุฌุงุฏ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarInvoice" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInvoice">
                <span class="nav-icon">
                  <iconify-icon icon="solar:bill-list-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุงฺฉุชูุฑูุง </span>
              </a>
              <div class="collapse" id="sidebarInvoice">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="invoice-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="invoice-details.html">ุฌุฒุฆุงุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="invoice-create.html">ุงุฌุงุฏ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="settings.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:settings-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุชูุธูุงุช </span>
              </a>
            </li>

            <li class="menu-title mt-2">ฺฉุงุฑุจุฑุงู</li>

            <li class="nav-item">
              <a class="nav-link" href="pages-profile.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:chat-square-like-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูพุฑููุงู </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarRoles" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarRoles">
                <span class="nav-icon">
                  <iconify-icon icon="solar:user-speak-rounded-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ููุดโูุง </span>
              </a>
              <div class="collapse" id="sidebarRoles">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="role-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="role-edit.html">ูุฑุงุด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="role-create.html">ุงุฌุงุฏ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="pages-permission.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:checklist-minimalistic-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฏุณุชุฑุณโูุง </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarCustomers" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCustomers">
                <span class="nav-icon">
                  <iconify-icon icon="solar:users-group-two-rounded-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุดุชุฑุงู </span>
              </a>
              <div class="collapse" id="sidebarCustomers">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="customer-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="customer-details.html">ุฌุฒุฆุงุช</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarSellers" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSellers">
                <span class="nav-icon">
                  <iconify-icon icon="solar:shop-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุฑูุดูุฏฺฏุงู </span>
              </a>
              <div class="collapse" id="sidebarSellers">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="seller-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="seller-details.html">ุฌุฒุฆุงุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="seller-edit.html">ูุฑุงุด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="seller-create.html">ุงุฌุงุฏ</a>
                  </li>
                </ul>
              </div>
            </li>


            <li class="menu-title mt-2">ุณุงุฑ</li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarCoupons" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCoupons">
                <span class="nav-icon">
                  <iconify-icon icon="solar:leaf-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ฺฉููพูโูุง </span>
              </a>
              <div class="collapse" id="sidebarCoupons">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="coupons-list.html">ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="coupons-add.html">ุงูุฒูุฏู</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="pages-review.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:chat-square-like-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุธุฑุงุช </span>
              </a>
            </li>

            <li class="menu-title mt-2">ุจุฑูุงููโูุง ุฏฺฏุฑ</li>

            <li class="nav-item">
              <a class="nav-link" href="chat.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:chat-round-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ฺุช </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="email.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:mailbox-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุงูู </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="calendar.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:calendar-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุชููู </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="todo.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:checklist-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ฺฉุงุฑูุง </span>
              </a>
            </li>

            <li class="menu-title mt-2">ูพุดุชุจุงู</li>

            <li class="nav-item">
              <a class="nav-link" href="help-center.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:help-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุฑฺฉุฒ ุฑุงูููุง </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="faqs.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:question-circle-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูพุฑุณุดโูุง ูุชุฏุงูู </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="privacy-policy.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:document-text-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุณุงุณุช ุญูุธ ุญุฑู ุฎุตูุต </span>
              </a>
            </li>


            <li class="menu-title mt-2">ุณูุงุฑุด</li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
                <span class="nav-icon">
                  <iconify-icon icon="solar:gift-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุตูุญุงุช </span>
              </a>
              <div class="collapse" id="sidebarPages">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="starter.html">ุฎูุด ุขูุฏุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="coming-soon.html">ุจู ุฒูุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="timeline.html">ุฎุท ุฒูุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="pricing.html">ููุช ฺฏุฐุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="maintenance.html">ูฺฏูุฏุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="error-404.html">ุฎุทุง ดฐด</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="error-404-alt.html">ุฎุทุง ดฐด (ุขูุชุฑูุงุชู)</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarAuthentication" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuthentication">
                <span class="nav-icon">
                  <iconify-icon icon="solar:lock-keyhole-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุงุญุฑุงุฒ ููุช </span>
              </a>
              <div class="collapse" id="sidebarAuthentication">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="login.html">ูุฑูุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="register.html">ุซุจุช ูุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="reset-password.html">ุจุงุฒูุดุงู ุฑูุฒ ุนุจูุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="lock-screen.html">ุตูุญู ููู</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="widgets.html">
                <span class="nav-icon">
                  <iconify-icon icon="solar:atom-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text">ูุฌุชโูุง</span>
                <span class="badge bg-info badge-pill text-end">น+</span>
              </a>
            </li>

            <li class="menu-title mt-2">ุงุฌุฒุง</li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarBaseUI" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBaseUI">
                <span class="nav-icon">
                  <iconify-icon icon="solar:bookmark-square-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฑุงุจุทโูุง ูพุงู </span>
              </a>
              <div class="collapse" id="sidebarBaseUI">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="accordion.html">ุขฺฉุงุฑุฏุฆูู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="alerts.html">ูุดุฏุงุฑูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="avatar.html">ุขูุงุชุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="badge.html">ูุดุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="breadcrumb.html">ูุณุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="buttons.html">ุฏฺฉููโูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="cards.html">ฺฉุงุฑุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="carousel.html">ฺฉุงุฑูุณู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="collapse.html">ุจุงุฒุดููุฏู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="dropdown.html">ููู ฺฉุดู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="list-group.html">ฺฏุฑูู ูุณุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="modal.html">ูุฏุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="tabs.html">ุชุจโูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="offcanvas.html">ุขูโฺฉูุณ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="pagination.html">ุตูุญูโุจูุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="placeholder.html">ุฌุงฺฏุฒูโูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="popovers.html">ูพุงูพโุงููุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="progress.html">ูพุดุฑูุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="scrollspy.html">ุงุณฺฉุฑููโุงุณูพุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="spinners.html">ุงุณูพูุฑูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="toasts.html">ุชูุณุชโูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="tooltips.html">ุชููโุชูพโูุง</a>
                  </li>
                </ul>
              </div>

            </li>


            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarExtendedUI" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarExtendedUI">
                <span class="nav-icon">
                  <iconify-icon icon="solar:case-round-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฑุงุจุทโูุง ูพุดุฑูุชู </span>
              </a>
              <div class="collapse" id="sidebarExtendedUI">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="rating.html">ุฑุชุจูโุจูุฏโูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="sweet-alerts.html">ุณูุช ุขูุฑุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="swiper-slider.html">ุงุณูุงุฏุฑ ุณูุงูพุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="scrollbar.html">ุงุณฺฉุฑูู ุจุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="toastify.html">ุชูุณุนุช ุชูุณุช</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarCharts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCharts">
                <span class="nav-icon">
                  <iconify-icon icon="solar:pie-chart-2-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูููุฏุงุฑูุง </span>
              </a>
              <div class="collapse" id="sidebarCharts">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-area.html">ูุณุงุญุช</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-column.html">ุณุชูู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-bubble.html">ุญุจุงุจ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-candlestick.html">ุดูุน</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-bar.html">ุณุชูู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-heatmap.html">ููุดู ฺฏุฑูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-line.html">ุฎุท</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-mixed.html">ูุฎุชูุท</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-timeline.html">ุฎุท ุฒูุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-boxplot.html">ุฌุนุจูโูููุฏุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-treemap.html">ุฏุฑุฎุชโููุดู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-pie.html">ุฏุงุฑู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-radar.html">ุฑุงุฏุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-radialbar.html">ุฑุงุฏุงโูโุจุงุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-scatter.html">ูพุฑุงฺฉูุฏฺฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="apex-polar-area.html">ููุทูู ูุทุจ</a>
                  </li>
                </ul>

              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarForms" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarForms">
                <span class="nav-icon">
                  <iconify-icon icon="solar:book-bookmark-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ูุฑูโูุง </span>
              </a>
              <div class="collapse" id="sidebarForms">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="basic.html">ุนูุงุตุฑ ูพุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="checkbox-radio.html">ฺฺฉโุจุงฺฉุณ ู ุฑุงุฏู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="choice-select.html">ุงูุชุฎุงุจ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="clipboard.html">ฺฉููพโุจูุฑุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="calendar.html">ุชููู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="validation.html">ุงุนุชุจุงุฑุณูุฌ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="wizard.html">ุฌุงุฏูฺฏุฑ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="file-upload.html">ุจุงุฑฺฏุฐุงุฑ ูุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="editors.html">ูุฑุงุดฺฏุฑูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="input-mask.html">ูุงุณฺฉ ูุฑูุฏ</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="range-slider.html">ุงุณูุงุฏุฑ</a>
                  </li>
                </ul>

              </div>
            </li>


            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarTables" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTables">
                <span class="nav-icon">
                  <iconify-icon icon="solar:tuning-2-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุฌุฏููโูุง </span>
              </a>
              <div class="collapse" id="sidebarTables">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="table-basic.html">ุฌุฏููโูุง ูพุงู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="table-gridjs.html">ฺฏุฑุฏ ุฌโุงุณ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarIcons" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarIcons">
                <span class="nav-icon">
                  <iconify-icon icon="solar:ufo-2-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ุขฺฉููโูุง </span>
              </a>
              <div class="collapse" id="sidebarIcons">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="boxicons.html">ุจุงฺฉุณโุขฺฉููโูุง</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="solar.html">ุขฺฉููโูุง ุณููุงุฑ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarMaps" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMaps">
                <span class="nav-icon">
                  <iconify-icon icon="solar:streets-map-point-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ููุดูโูุง </span>
              </a>
              <div class="collapse" id="sidebarMaps">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="google.html">ููุดูโูุง ฺฏูฺฏู</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="vector.html">ููุดูโูุง ุจุฑุฏุงุฑ</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="nav-icon">
                  <iconify-icon icon="solar:volleyball-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text">ููู ูุดุงู</span>
                <span class="badge bg-danger badge-pill text-end">1</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link menu-arrow" href="#sidebarMultiLevelDemo" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMultiLevelDemo">
                <span class="nav-icon">
                  <iconify-icon icon="solar:share-circle-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ููุฑุฏ ููู </span>
              </a>
              <div class="collapse" id="sidebarMultiLevelDemo">
                <ul class="nav sub-navbar-nav">
                  <li class="sub-nav-item">
                    <a class="sub-nav-link" href="#">ููุฑุฏ ููู 1</a>
                  </li>
                  <li class="sub-nav-item">
                    <a class="sub-nav-link menu-arrow" href="#sidebarItemDemoSubItem" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarItemDemoSubItem">
                      <span> ููุฑุฏ ููู 2 </span>
                    </a>
                    <div class="collapse" id="sidebarItemDemoSubItem">
                      <ul class="nav sub-navbar-nav">
                        <li class="sub-nav-item">
                          <a class="sub-nav-link" href="#">ุฒุฑููุฑุฏ ููู</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                <span class="nav-icon">
                  <iconify-icon icon="solar:user-block-rounded-bold-duotone"></iconify-icon>
                </span>
                <span class="nav-text"> ููุฑุฏ ุบุฑูุนุงู </span>
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="page-content">
        <div class="container-fluid">

        </div>

        <!-- ========== Footer Start ========== -->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 text-center">
                <script>
                  document.write(new Date().getFullYear())
                </script> &copy; ูุงุฑฺฉู. ุณุงุฎุชู ุดุฏู ุชูุณุท
                <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon>
                <a href="" class="fw-bold footer-text" target="_blank">ุชฺฉุฒุง</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- ========== Footer End ========== -->

      </div>
    </div>


    <div>
      <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-settings-offcanvas">
        <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
          <h5 class="text-white m-0">ุชูุธูุงุช ุชู</h5>
          <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" aria-label="ุจุณุชู"></button>
        </div>

        <div class="offcanvas-body p-0">
          <div data-simplebar class="h-100">
            <div class="p-3 settings-bar">

              <div>
                <h5 class="mb-3 font-16 fw-semibold">ุทุฑุญ ุฑูฺฏ</h5>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-bs-theme" id="layout-color-light" value="light">
                  <label class="form-check-label" for="layout-color-light">ุฑูุดู</label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-bs-theme" id="layout-color-dark" value="dark">
                  <label class="form-check-label" for="layout-color-dark">ุชุงุฑฺฉ</label>
                </div>
              </div>

              <div>
                <h5 class="my-3 font-16 fw-semibold">ุฑูฺฏ ููุงุฑ ุจุงูุง</h5>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-topbar-color" id="topbar-color-light" value="light">
                  <label class="form-check-label" for="topbar-color-light">ุฑูุดู</label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-topbar-color" id="topbar-color-dark" value="dark">
                  <label class="form-check-label" for="topbar-color-dark">ุชุงุฑฺฉ</label>
                </div>
              </div>


              <div>
                <h5 class="my-3 font-16 fw-semibold">ุฑูฺฏ ููู</h5>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-color" id="leftbar-color-light" value="light">
                  <label class="form-check-label" for="leftbar-color-light">
                    ุฑูุดู
                  </label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-color" id="leftbar-color-dark" value="dark">
                  <label class="form-check-label" for="leftbar-color-dark">
                    ุชุงุฑฺฉ
                  </label>
                </div>
              </div>

              <div>
                <h5 class="my-3 font-16 fw-semibold">ุงูุฏุงุฒู ุณุงุฏุจุงุฑ</h5>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-default" value="default">
                  <label class="form-check-label" for="leftbar-size-default">
                    ูพุดโูุฑุถ
                  </label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-small" value="condensed">
                  <label class="form-check-label" for="leftbar-size-small">
                    ูุดุฑุฏู
                  </label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-hidden" value="hidden">
                  <label class="form-check-label" for="leftbar-hidden">
                    ูพููุงู
                  </label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-small-hover-active" value="sm-hover-active">
                  <label class="form-check-label" for="leftbar-size-small-hover-active">
                    ฺฉูฺฺฉ ู ูุนุงู ุจุฑ ุฑู ูุงูุฑ
                  </label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-small-hover" value="sm-hover">
                  <label class="form-check-label" for="leftbar-size-small-hover">
                    ฺฉูฺฺฉ ู ูุงูุฑ
                  </label>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="offcanvas-footer border-top p-3 text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-danger w-100" id="reset-layout">ุจุงุฒูุดุงู</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="js/app.js"></script>
    <script src="js/layout.js"></script>
  </body>

  </html>