<div class="d-flex flex-column h-100 p-3">
  <div class="d-flex flex-column flex-grow-1">
    <div class="row h-100">
      <div class="col-xxl-7">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-lg-10">
            <div class="auth-logo mb-3 text-center"> <a href="{{ route('second', [ 'dashboards' , 'index']) }}" class="logo-dark"> <img src="imgs/logo-dark.png" height="24" alt="لوگو تیره"> </a>

              <a href="inde.html" class="logo-light">
                <img src="imgs/logo-light.png" height="24" alt="لوگو روشن">
              </a>
            </div>
            <div class="mx-auto text-center">
              <img src="imgs/404-error.png" alt="" class="img-fluid my-3">
            </div>
            <h2 class="fw-bold text-center lh-base">اوه! صفحه‌ای که به دنبالش بودید پیدا نشد</h2>
            <p class="text-muted text-center mt-1 mb-4">متاسفانه، نتوانستیم صفحه‌ای که به دنبالش بودید را پیدا کنیم. پیشنهاد می‌کنیم به بخش‌های اصلی بازگردید.</p>
            <div class="text-center">
              <a href="inde.html" class="btn btn-primary">بازگشت به خانه</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-5 d-none d-xxl-flex">
        <div class="card h-100 mb-0 overflow-hidden">
          <div class="d-flex flex-column h-100">
            <img src="imgs/small/img-10.jpg" alt="" class="w-100 h-100">
          </div>
        </div> <!-- پایان کارت -->
      </div>
    </div>
  </div>
</div>